/* adding google fonts and tailwindcss imports */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

/* Hide vertical scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}
